* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table {
    border: 2px solid #134074;
    width: 1000px;
    margin: 0 auto;
    border-collapse: collapse;
}

thead {
    background-color: #134074;
    color: #EEF4ED;
}

td {
    border-top: 1px solid #134074;
    padding: 5px;
}

h1, h2 {
    color: #13315C;
    text-align: center;
}

code {
    font-family: monospace;
    background-color: #A7CAF1;
    color:#000;
    font-size: 15px;
}

th {
    padding: 5px;
}

table tr td:first-child {
    width: 100px;
}
